* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #424242;
}

/*
 * Header
 *
 */

.header {
  min-height: 56px;
  transition: min-height 0.3s;
}

.header__inner {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.header__title {
  font-weight: 600;
  font-size: 4em;
  margin: 0.5em 0.25em;
  display: inline-block;
  color: #212121;
}

.header__menu {
  font-size: 40px;
  margin: 10px auto;
  text-align: center;
  display: block;
  width: 45px;
  text-decoration: none;
  color: #212121;
}


/*
 * Top level navigation
 */

.nav {
  width: 100%;
  margin: auto;
  text-align: center;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 30%;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
}

.nav a {
  display: inline-block;
  padding: 1.3em;
  text-decoration: none;
  color: #616161;
  transition: 0.3s opacity;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: underline;
  opacity: 0.5;
}


/*
 * Jumbotron
 */

/* .hero {
  display: flex;
  align-items: center;
  min-height: 380px;
  width: 100%;
  text-align: center;
  background-image: url('../public/images/hero-image_1.jpg');
  background-position: bottom;
  background-color: rgb(52, 52, 52);
  background-repeat: no-repeat;
  background-size: cover;
} */

.hero {
  width: 100%;
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-img {
  width: 100%;
  height: 100%;
  display: flex;
}

.hero-img img {
  object-fit: cover;
  width: 100%;
  height: 35rem;
}

.hero__inner {
  /* margin: 0 auto;
  max-width: 800px;
  background-color: rgba(50, 50, 50, 0.5);
  padding: 1rem;
  border-radius: 10px; */
  width: 80%;
  text-align: center;
  background-color: rgba(50, 50, 50, 0.5);
  padding: 1rem;
  border-radius: 10px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

.hero__title {
  color: #fff;
  font-weight: 500;
  font-size: 36px;
}

.hero__tagline {
  color: #fff;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 300;
  height: 44px;
}


/*
 * main
 */

main {
  width: 100%;
  margin: 0 auto;
}

/*
 * content
 */

#content {
  padding: 20px;
}

/*
 * latest
 */

.newest {
  width: 100%;
  margin: 60px auto;
  text-align: center;
}

.newest__label {
  font-size: 32px;
  font-weight: semibold;
}

.newest__label::after {
  content: '';
  margin-top: 16px;
  display: block;
  border-bottom: 2px solid #a0a0a0;
}

/*
 * post
 */

.posts {
  margin: 36px auto auto;
  text-align: left;
}

/*
 * post item
 */

.post-item {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.post-item__content {
  padding: 16px;
}

.post-item__thumbnail {
  width: 100%;
  height: 55%;
  overflow: hidden;
}

.post-item__rate {
  font-size: 12px;
  color: #222;
}

.Rate {
  color: #fff;
  background-color: blue;
  padding: 2px;
  border-radius: 5px;
  margin: 0 4px 0 0;
}

.post-item__location {
  color: red;
  text-decoration: none;
  font-weight: 600;
}

.post-item__title {
  font-weight: bold;
  font-size: 16px;
  margin-top: 16px;
  transition: 0.3s opacity;
}

.post-item__title:hover {
  opacity: 0.5;
}

.post-item__title a {
  padding: 0.9rem 0;
  text-decoration: none;
  color: inherit;
}

.post-item__description {
  margin-top: 16px;
  font-size: 12px;
  line-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* jumlah baris maksimal */
  -webkit-box-orient: vertical;
}

/*
  Detail Page
*/

/* restaurant */

.resto {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}

.restaurant__title {
  text-align: center;
}

.restaurant-poster {
  margin: 0 1rem;
  width: 90%;
}

.restaurant-info h3,h4, p {
  margin: 0.5rem 1rem;
}

.menus h3 {
  margin: 0.5rem 1rem;
}

.restaurant__overview h3 {
  margin: 0.5rem 1rem;
}

.hidden-text {
  display: none;
}

/*
  Like
*/

.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}

/*
 * footer
 */

footer {
  background-color: #494949;
  padding: 1.5em;
  width: 100%;
  text-align: center;
}

footer p {
  padding: 1.3em;
  color: #fff
}

.skip-link {
	position: absolute;
	top: -100px;
	left: 0;
	background-color: #2dbf17;
	color: white;
	padding: 10px;
	font-size: 20px;
	z-index: 100;
	text-decoration: none
}
.skip-link:focus {
	top: 100px
}